Python

In [ ]:
# print simple hello world string
print("Hello World")

Hello World

Variables and constants

In [ ]:
name = "Anthony"
print(name)

Anthony

In [ ]:
name = "Nirmala"
print(name)

Nirmala

In [ ]:
name , age , marks = "Anthony",23,80
print(name)
print(age)
print(marks)

Anthony
23
80

In [ ]:
var1 = var2 = 80
print(var1)
print(var2)

80
80

In [ ]:
num1 = "20"
num2 = "22"
print(int(num1) + int(num2))

42

In [ ]:
num1 = int(input('Enter num1 : '))
num2 = int(input('Enter num2 : '))


print(num1 + num2)

Enter num1 : 20
Enter num2 : 22
42

In [ ]:
print("Hello " + " World" )

Hello  World

In [ ]:
print("Hello" , "world" , 23 , sep=' , ')

Hello , world , 23

In [ ]:
print("Hello" , end = '----- ')
print("World" )
print("Bye" , end = '*****')
print("hello")

Hello----- World
Bye*****hello

In [ ]:
name = "Anthony"
age = 23
print("My name is " , name , " and my age is " , age)

My name is  Anthony  and my age is  23

In [ ]:
print("My name is {} and my age is {} ".format(name , age))

My name is 49 and my age is 67

In [ ]:
num1 = int(input('Enter a num1: '))

if num1 > 0 :
  print("Number is Positive")
elif num1 < 0 :
  print("Number is Negative")
else :
  print("Number is Zero")

Enter a num1: 0
Number is Zero

Loops

for loop  -- no of iterations

while loop -- condition

In [ ]:
for i in range(5):   # range(5) = [0,1,2,3,4]
  print(" hello world ")

 hello world
 hello world
 hello world
 hello world
 hello world

In [ ]:
marks = [80,90,89,67]

for x in marks :
  print(x)

80
90
89
67

In [ ]:
names = ["Anthony","Surya","Chitra","Nirmala"]
for name in names:
  print(name , end= '  ')

Anthony  Surya  Chitra  Nirmala

In [ ]:
for i in range(7):   # range(7) = [0,1,2,3,4,5,6]
    if i == 3:
      continue
    print(i)

0
1
2
4
5
6

In [ ]:
num = 0

while num < 10:
  print(num)
  num += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
num = 10
while num > 0 :
  print(num)
  num -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
num = int(input('Enter a num : '))

sum = 0
while num!=0 :
  sum += num
  num = int(input('Enter a num: '))

print(sum)

Enter a num : 5
Enter a num: 5
Enter a num: 10
Enter a num: 0
20

List - []

Ordered , Mutable , Duplicates allowed  


Tuple - ()

Ordered , Immutable  , Duplicates allowed

In [ ]:
marks = [80,90,89,70]
print(marks)

[80, 90, 89, 70]

In [ ]:
print(marks[1])

90

In [ ]:
print(marks[-2])

89

In [ ]:
print(marks[1:3])

[90, 89]

In [ ]:
print(marks)
marks[1] = 89
print(marks)

[80, 90, 89, 70]
[80, 89, 89, 70]

In [ ]:
marks.append(65)
print(marks)

[80, 89, 89, 70, 65]

In [ ]:
marks.insert(1,78)
print(marks)

[80, 78, 89, 89, 70, 65]

In [ ]:
marks.extend([89,78,67])
print(marks)

[80, 78, 89, 89, 70, 65, 89, 78, 67]

In [ ]:
marks.remove(78)

In [ ]:
print(marks)

[80, 89, 89, 70, 65, 89, 78, 67]

In [ ]:
del marks[1:4]
print(marks)

[80, 89, 78, 67]

In [ ]:
for mark in marks :
  print(mark)

80
89
78
67

In [ ]:
marks.count(89)

1

In [ ]:
marks.sort(reverse = True)
print(marks)

[89, 80, 78, 67]

In [ ]:
marks.reverse()
print(marks)

[67, 78, 80, 89]

Tuples

In [ ]:
ages = (22,23,24,22)
print(ages)

(22, 23, 24, 22)

In [ ]:
print(ages[1:3])

(23, 24)

In [ ]:
for age in ages:
  print(age)

22
23
24
22

Set : {}


Dont allow duplicates

In [ ]:
marks = {10,10,10,20,20,30,30}
print(marks)

{10, 20, 30}

In [ ]:
marks.add(40)
print(marks)

{40, 10, 20, 30}

In [ ]:
marks.update([40,40,50,50,60,60,70])
print(marks)

{70, 40, 10, 50, 20, 60, 30}

In [ ]:
marks.discard(40)
print(marks)

{70, 10, 50, 20, 60, 30}

In [ ]:
print(len(marks))

6

In [ ]:
print(max(marks))

70

In [ ]:
print(min(marks))

10

In [ ]:
for mark in marks:
  print(mark)

70
10
50
20
60
30

In [ ]:
A = { 10,11,12,13,14,15}
B = { 13,14,15,16,17}

In [ ]:
print(A.intersection(B))
print( A & B )

{13, 14, 15}
{13, 14, 15}

In [ ]:
print(A.union(B))
print(A | B )

{10, 11, 12, 13, 14, 15, 16, 17}
{10, 11, 12, 13, 14, 15, 16, 17}

In [ ]:
print(A.difference(B))
print(A-B)

{10, 11, 12}
{10, 11, 12}

In [ ]:
print(A.symmetric_difference(B))
print(A ^ B)

{16, 17, 10, 11, 12}
{16, 17, 10, 11, 12}

 Dictionary ( key - value )

In [ ]:
person = {
    "name" : "Alice",
    "age" : 23,
    "course":"Data Science"
}
print(person)

{'name': 'Alice', 'age': 23, 'course': 'Data Science'}

In [ ]:
print(person["age"])

23

In [ ]:
person["age"] = 22

In [ ]:
print(person["age"])

22

In [ ]:
person["country"] = 'USA'
print(person)

{'name': 'Alice', 'age': 22, 'course': 'Data Science', 'country': 'USA'}

In [ ]:
del person["country"]
print(person)

{'name': 'Alice', 'age': 22, 'course': 'Data Science'}

In [ ]:
for x in person:
  print(x , person[x])

name Alice
age 22
course Data Science

In [ ]:
print(len(person))

3

In [ ]:
person.keys()

dict_keys(['name', 'age', 'course'])

In [ ]:
person.values()

dict_values(['Alice', 22, 'Data Science'])

In [ ]:
person = {"name" : "alice" , "name" : "xyz"}
print(person)

{'name': 'xyz'}

Functions

In [ ]:
def hello(name):
  print("hello ",name)


hello("Alice")

hello  Alice

In [26]:
def add_two_num(a,b):
  return a**b



res = add_two_num(3,4)
res *=2
print(res)

162

write a function func1 which will list as input and return sum of all elements

write a function func2 which will take int n as input and print all even numbers from 0 to n

write a funcrion func3 which will take  int list as inpout and return diff of max and min elements

In [29]:
def sum_list(mylist):
  # return sum of list
  sum = 0
  for x in mylist:
    sum += x
  return sum

res = sum_list([1,2,3,4,5,6])
print(res)

21

In [31]:
for x in range(10):
  if x%2 == 0:
    print(x)

0
2
4
6
8

In [32]:
def func(n):
  for x in range(n):
    if x%2 == 0 :
      print(x)


func(10)

0
2
4
6
8

In [37]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [40]:
class Student:
  def __init__(self , name , age):
    self.name = name      # s1.name = "alice"   s2.age = "John"
    self.age = age   # s1.age = 23   s2.age = 24

  def my_info(self):
    print(self.name , self.age)   # s1.name , s1.age     # s2.age s2.name


s1 = Student("Alice", 23)
s1.my_info()


s2 = Student("John" , 24)
s2.my_info()

Alice 23
John 24

In [41]:
class Shape:
  def __init__(self , no_of_sides , color):
    self.no_of_sides = no_of_sides
    self.color = color

  def my_info(self):
    print(self.no_of_sides , self.color)



s1 = Shape(4,"red")
s2 = Shape(6,"Blue")
s1.my_info()
s2.my_info()

4 red
6 Blue

create a class name square
with properties
length
and methods
area
perimeter
and then create two objects with diff length and pritn area and permimeter




create a class name Rectangle
with properties
length  = 10 , width = 5 , color = "blue
and methods
area
perimeter
getInfo --> l ,w , c
and then create two objects with diff length , width , color and pritn area and permimeter , getInfo

In [43]:
class Square:
  def __init__(self , length = 10):
    self.length = length

  def area(self):
    return self.length*self.length

  def peri(self):
    return 4*self.length

s1 = Square()   # length = 10
s2 = Square(5)   # length = 5


print(s1.area())   # 100
print(s1.peri())   # 40



print(s2.area())   # 25
print(s2.peri())   # 20

100
40
25
20